/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url('../images/Background.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
}

header {
  background-color: rgba(52, 58, 64, 0.8);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Footer styles */
footer {
  font-size: 0.8em; /* Make the footer text smaller */
  text-align: center; /* Center the footer text */
  position: fixed; /* Make the footer fixed to the bottom */
  bottom: 0px;
  width: 100%; /* Make the footer take the full width */
  padding: 0;
}

/* Made by Electroboy text styles */
.footer-content p {
  color: #ffffff;  /*color for txt*/
  font-weight: bold; /* Optional: Make text bold */
}


/* Navigation bar styles */
nav {
  background-color: rgba(52, 58, 64, 0.8);
  padding: 10px 0; /* Added vertical padding */
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers the items horizontally */
}

nav ul li {
  margin: 0 10px; /* Adjusted spacing between navigation items */
}

nav ul li:first-child {
  margin-left: 0; /* Remove left margin for the first item */
}

nav ul li:last-child {
  margin-right: 0; /* Remove right margin for the last item */
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px; /* Adjusted padding for better button alignment */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
