<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <script>
        function toggleDarkMode() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Home Made Goods</h1>
        
        <h2>Contact me on this number to order:</h2>
        <p><a href="https://wa.me/27656772625" target="_blank">+27 65 677 2625</a></p>
        
        <h2>Click on this link to see all my products:</h2>
        <p><a href="https://share.samsungcloud.com/sharedalbum/6JN1UIcZI4" target="_blank">Products Page</a></p>
        
        <h2>General location:</h2>
        <p><a href="https://maps.app.goo.gl/8ARvU1cLznvn4eVu9" target="_blank">Location</a></p>
        
        <a href="general-info.html" class="button">Read all the needed info</a>
    </div>
</body>
</html>
